*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#04091eb3,
    rgba(4,9,30,0.7)),url(img/1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: rgb(248, 248, 248);
}

nav a:hover{
    font-weight: 500;
    text-decoration: none;
    color: rgb(4, 255, 37);
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size: 62px;
    font-weight: 900;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid blue;
    background-color: blue;
    transition: 1s;
}



@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background-image: linear-gradient(#04091eb3,
    rgba(4,9,30,0.7));
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* Course */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px ;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color:#000;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #9bb0e9;
    border-radius: 3px;
    margin-bottom: 5%;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: 0.5s;
  
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0.2);
    cursor: pointer;
}

@media(max-width: 700px){
    .row{
        flex-direction:column ;
    }
    .cta h1{
        font-size: 24px;
    }

    .sub-header h1, .sub-header1 h1, .sub-header2 h1{
        font-size: 24px;
    }
}

.campus{

   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 50px; 
}

.campus-col{
    display: block;
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
}

.campus-col img:hover{
    transform: scale(1.1);
    cursor: pointer; 
}
.campus-col:hover{
    box-shadow: 0 0 30px 0px rgba(0,0,0.2);
    transition: 0.8s;
}
.layer{
    background:none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.8s;
}

.layer:hover{
    cursor: pointer;
}

.layer h3{
    width: 100%;
    font-weight:500 ;
    color: rgb(187, 236, 24);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px; 
}

.facilities-col{
    flex-basis:31% ;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col img:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.facilities-col p{
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;  
}

.testimonials-col{
    flex-basis:31% ;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.testimonials-col img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.testimonials-col img:hover{
    transform: scale(1.1);
    cursor: pointer; 
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(img/cafeteria.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color:blue;
    margin: 0 13px;
    cursor: pointer;
    padding: 17px 0;
}

.fa-heart-o{
    color: #f44336;
}


/* page about */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/about.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header1{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/course.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/blog.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1, .sub-header1 h1, .sub-header2 h1{
    margin-top: 140px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis:48% ;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
}

.btn{
    border: 1px solid blue;
    background: transparent;
    color: #000;
}

.btn:hover{
    color: #fff;
}

/* blogs */

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
    height: auto;
}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    color: gray ;
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    background: blue;
    color: white;
    padding: 7px 16px ;
    margin-bottom: 20px;
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border:none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button{
    margin: 10px 0;
}